.leaflet-popup-content-wrapper {
  background-color: #02834d;
  max-width: 300px;
  color: white;              
  border-radius: 12px;
}

.leaflet-popup-content {
    font-size: 14px;
}

.leaflet-popup-tip {
    background-color: #02834d;
}

