#formUsuario {
  display: flex;
  flex-direction: column;
  /* border: 2px solid red; */
}

#formUsuario label{
  margin: 10px 0px;
}


#formUsuario input{
  height: 40px;
  width: 95%;
}

#formUsuario button{
  color: black;
  font-size: 18px;
  padding: 10px 20px;
  background-color: white;
}

#card{
  border-top: 2px solid rgb(172, 172, 172);
}

#card h2{
  background-color: rgb(170, 170, 170);
  padding: 10px 5px;
}